
body{
	background:url(../img/cache.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color:cadetblue!important;
	color:#444;height:100%;
	font-family:Arial, Helvetica, Tahoma, sans-serif;
	font-size:14px;font-weight:400;line-height:22px;
	text-decoration:none;margin:0;
	padding:0;border-top:4px solid #48d;
}

a,a:link,a:visited{

	color:#2560aa;text-decoration:none!important;
}

a:hover,a:active{
	color:#222;text-decoration:none
}

#header-inner{
	margin:10px 0 10px;padding:0
}

#header h1,#header p{
	font:30px Oswald;line-height:30px;
	color:#333;text-shadow: 0px 1px 2px #fff;
	padding-bottom:10px;margin:0
}
#header .description{

	color:#48d;font:bold 16px Arial;
}

.masmenu{
	background: #ffffff;
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	color:#333;font:bold 12px Arial;text-shadow: 1px 1px 1px rgba(255,255,255,0.8);

	display:inline-block;width:100%;
	border:1px solid #ccc;box-shadow:0 2px 5px rgba(0,0,0,.1)
}
.main-wrapper{

	width:660px;
	margin:0px;float:left;
	word-wrap:break-word;
	overflow:hidden;
}
.post{
	background:#fff;
	margin:21px 0px 25px;
	padding:5px 15px 15px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.post h1,.post h2{
	font:24px Oswald;
	line-height:1.2em;color:#333;
	margin:.0em 0 0;padding:4px 0;
	text-shadow:1px 1px #fff, 1px 1px #ccc, 2px 2px #ddd, 3px 3px #eee

}

.post-footer{

	color:#666;
	text-transform:none;letter-spacing:.01em;
	font:12px Arial;
	line-height:13px;
}

.post img,#header2 img,.sidebar1 img{

	max-width:100%;width:auto;

}
.sidebar-wrapper,.sidebar1-wrapper{
	width:300px;
	float:right;
	word-wrap:break-word;
	overflow:hidden;
}

.sidebar h2{

	background:#48d;color:#fff;font:14px Oswald;
	margin:0;padding:5px 0 5px 10px;
	text-transform:uppercase
}
.sidebar{
	color:#666;
	line-height:12px;
	border-top:none;
	font:11px Arial
}
.sidebar li{

	line-height:1.3em;margin:0;
	padding:5px 0 4px;
	border-bottom:1px dashed #ddd

}
.sidebar .widget{

	background:#fff;margin:2px 2px 10px;
	padding:0 0 5px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2)
}

.sidebar .widget-content{

	margin:0 auto;
	padding:0 10px;
}


.sidebar ul{
	list-style:none;
	margin:0;padding:5px 0

}


#credit{background:#48d;
	border-top:0px solid #000;
	font:11px Tahoma;color:#eee;
	width:100%;
	overflow:hidden;
	clear:both;
	padding:10px 0;
	line-height:18px
}

#credit .left
{
	float:left;
	text-align:left;margin-left:10px
}
#credit .right{

	float:right;
	text-align:right;
	margin-right:10px}

.post-title{
	text-align: center;
}
.btn:hover{
	background-color: #4488DD!important;
}



#header{
	text-align:c;
	width:100%;
	max-width:none;
}


.main-wrapper{

	margin-right:0;
	width:65%;
}

.sidebar-wrapper,.sidebar1-wrapper{

	border:none;
	margin:0 auto 10px;
	padding:5px
}
.outer-wrapper{
	margin-left: 45px;
	margin-top: 12px;

}
.past{
	background-color:aliceblue;
		box-shadow:0px 6px 6px rgba(0,0,0,0.2)
}

.col-sm-4{
	margin-top:45px;
}

.btn-default{
	margin-left: 35%;
	margin-top: 8px;
}
.apropos{
	margin-left: 19%;
	margin-top: 45px;
}
